@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: #f4f4f4;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

/* WELCOME */

.item {
    background: url(img/Campaign_BG.png) fixed;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

header {
    text-align: center;
    padding: 20px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
}

.donate {
    color: #ede937;
}

.campaign {
    padding: 0px 0 200px 0;
}

.logo {
    text-align: center;
}

.logo img {
    max-width: 150px;
}

.campaign h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    color: #ede937;
    margin-bottom: 10px;
}

.campaign h1 span {
    display: inline;
}

.campaign p {
    text-align: center;
    color: white;
    max-width: 386px;
    margin: auto;
    font-size: 20px;
}

.button {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.button button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ede937;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 14px;
    color: #004155;
    font-weight: 600;
    cursor: pointer;
    min-width: 100px;
}

button {
    transition: all 0.3s;
}

button img {
    width: 20px;
    margin: 0 10px 0 0;
}

button:hover {
    background-color: #c3d556;
}

/* VICTORIES */

.victories {
    background-color: #f4f4f4;
    position: relative;
    z-index: -2;
    margin-bottom: 70px;
}

.line {
    height: 6px;
    width: 80px;
    background: #004155;
    margin-right: 30px;
}

.subtitle {
    display: flex;
    align-items: center;
    color: #004155;
    grid-column: 1/-1;
}

.subtitle h2,
.expertise h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 50px;
}

.fact1,
.fact2,
.fact3,
.fact4,
.fact5,
.fact6 {
    position: relative;
    width: 250px;
    padding: 20px;
    margin: 0 50px;
    color: #004155;
}

.fact1 svg,
.fact2 svg,
.fact3 svg,
.fact4 svg,
.fact5 svg,
.fact6 svg {
    position: absolute;
    height: auto;
    z-index: -1;
}

.fact1 svg:nth-child(1) {
    width: 180px;
    top: 0;
    left: -70px;
}

.fact1 svg:nth-child(2) {
    right: -20px;
    top: 80px;
    width: 80px;
}

.fact2 svg {
    width: 200px;
    top: -20px;
    left: 0;
}

.fact3 svg {
    width: 230px;
    top: 20px;
    right: -30px;
}

.fact5 svg {
    width: 180px;
    top: -20px;
    left: -40px;
}

.fact4 svg {
    width: 200px;
    left: 0;
    top: 0;
    bottom: 0;
}

.fact6 svg:nth-child(1) {
    width: 200px;
    top: -20px;
    right: 0;
}

.fact6 svg:nth-child(2) {
    width: 100px;
    transform: rotate(280deg);
    left: -30px;
    top: 10px;
}

.bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

h3 {
    font-size: 35px;
    margin: 10px 0;
    text-transform: uppercase;
    font-weight: 900;
}

.expertise h3 {
    margin-bottom: 50px;
}

.climate h3 {
    text-align: right;
}

span {
    display: block;
}

.victories,
.expertise {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 40px;
    grid-gap: 0px 30px;
}

.victories {
    margin-bottom: 0;
}

/* WE WORK WITH */

.climate,
.sustainability,
.biodiversity {
    position: relative;
    width: 250px;
    padding: 20px;
    margin: 20px 50px;
    color: #004155;
}

.climate svg,
.sustainability svg,
.biodiversity svg {
    position: absolute;
    height: auto;
    z-index: -1;
}

.climate svg {
    top: -30px;
    left: 30px;
    width: 180px;
}

.sustainability svg {
    top: -30px;
    left: -10px;
    width: 180px;
}

.biodiversity svg {
    top: -30px;
    right: -65px;
    width: 180px;
    transform: rotate(-20deg);
}

.read_more button {
    font-weight: 100;
    background-color: #ede937;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 14px;
    color: #004155;
    cursor: pointer;
}

.read_more button:hover {
    background-color: #c3d556;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 971px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 60px;
    }
}

@media only screen and (min-width: 1068px) {

    .victories,
    .expertise {
        width: 1068px;
        margin: auto;
        margin-bottom: 15px;
    }

    .expertise {
        margin-top: 70px;
    }

    .fact2,
    .fact6 {
        margin-top: 35px;
    }

    .corner_left {
        position: absolute;
        left: 0px;
        bottom: 0px;
        transform: rotate(270deg);
        border-top: 10px solid #004155;
        border-left: 10px solid #004155;
        width: 50px;
        height: 50px;
        border-radius: 8px;
    }

    .corner_right {
        position: absolute;
        right: 0px;
        top: 154px;
        transform: rotate(90deg);
        border-top: 10px solid #004155;
        border-left: 10px solid #004155;
        width: 50px;
        height: 50px;
        border-radius: 8px;
    }

    .video-section {
        margin: 70px auto;
    }
}

.video-section {
    background: #ede937;
    padding: 50px;
}

.video-wrapper {
    max-width: 1200px;
    margin: auto;
}

.video-section h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    color: #004155;
    margin: 0;
    margin-bottom: 30px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-section .primary-button {
    margin: 30px auto 0 auto;
}

.primary-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: ghostwhite;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 10px 14px;
    color: #004155;
    font-weight: 600;
    cursor: pointer;
    min-width: 100px;
}
